/node_modules
/oh_modules
/.idea
**/build
/.hvigor
**/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/libmpvnative.so
**/libmpv.so.2

# Claude Code
/.claude/
/memory/
CLAUDE.md
.gitnexus
build-profile.json5
